﻿.jumbotron {
    background: #fff;
}

table#acrylic {
    border-collapse: separate;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 50px auto;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#acrylic thead {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #acrylic thead th {
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
        text-align: left;
        padding: 20px;
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
        background-image: -moz-linear-gradient(#646f7f, #4a5564);
        background-image: -webkit-linear-gradient(#646f7f, #4a5564);
        background-image: linear-gradient(#646f7f, #4a5564);
        border-top: 1px solid #858d99;
    }

        #acrylic thead th:first-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        #acrylic thead th:last-child {
            -moz-border-top-right-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
        }

#acrylic tbody tr td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5f6062;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e0e0e0;
}

#acrylic tbody tr:nth-child(2n) {
    background: #f0f3f5;
}

#acrylic tbody tr:last-child td {
    border-bottom: none;
}

    #acrylic tbody tr:last-child td:first-child {
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #acrylic tbody tr:last-child td:last-child {
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

#acrylic tbody:hover > tr td {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#acrylic tbody:hover > tr:hover td {
    text-shadow: none;
    color: #2d2d2d;
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    transition: 0.2s all;
}

body {
    margin: 30px 0px;
}

.progress {
    position: relative;
    height: 25px;
}

    .progress > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

    .progress > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }

    .progress > .progress-bar {
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

.pie {
    position: relative;
    display: inline-block;
    background-image: conic-gradient(rgba(0,0,0,0) calc(3.6deg * var(--percent)),rgba(0,0,0,1) calc(3.6deg * var(--percent)));
    background-blend-mode: overlay;
    background-position: 50% 50%;
    background-size: 150%;
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
}

/* show the percentage (thanks to Ana Tudor for the counter() trick) */
.pie--value::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    counter-reset: percent var(--percent);
    content: counter(percent) "%";
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.pie--disc::before {
    content: '';
    position: absolute;
    top: .5em;
    left: .5em;
    right: .5em;
    bottom: .5em;
    border-radius: 50%;
    background: #fff;
}

.pie--disc::after {
    color: #000;
    text-shadow: none;
}

/* demo styles
----------------------------------------------------- */
body::before {
    color: red;
    font-size: 150%;
    background-color: #f1f1f2;
    content: "This browser doesn't support conical graidents yet";
}

@supports (background: conic-gradient(red, blue)) {
    body::before {
        content: '';
    }
}

body {
    font: 90%/1.5 Arial;
    background: #f1f1f2;
    text-align: center;
}

.pie {
    border: .15em solid #fff;
    box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
    margin: .75rem;
}

    .pie:nth-child(1) {
        background-color: #e0e0d1;
    }

    .pie:nth-child(2) {
        background-color: #fc3;
    }

    .pie:nth-child(3) {
        background-color: #ac0;
    }

    .pie:nth-child(4) {
        background-color: #0ac;
    }

    .pie:nth-child(5) {
        background-color: #d6b;
    }

.big {
    font-size: 200%;
}

.med {
    font-size: 150%;
}

.sml {
    font-size: 100%;
}
